xml-resources/web-service-references/ProductoProveedor/wsdl/localhost_8080/DemostracionSOAP/ProductoProveedor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://producto/" name="ProductoProveedor">
<types>
<xsd:schema>
<xsd:import namespace="http://producto/" schemaLocation="http://localhost:8080/DemostracionSOAP/ProductoProveedor?xsd=1"/>
</xsd:schema>
</types>
<message name="getProveedor">
<part name="parameters" element="tns:getProveedor"/>
</message>
<message name="getProveedorResponse">
<part name="parameters" element="tns:getProveedorResponse"/>
</message>
<message name="getProductos">
<part name="parameters" element="tns:getProductos"/>
</message>
<message name="getProductosResponse">
<part name="parameters" element="tns:getProductosResponse"/>
</message>
<message name="getProducto">
<part name="parameters" element="tns:getProducto"/>
</message>
<message name="getProductoResponse">
<part name="parameters" element="tns:getProductoResponse"/>
</message>
<message name="insertarProducto">
<part name="parameters" element="tns:insertarProducto"/>
</message>
<message name="insertarProductoResponse">
<part name="parameters" element="tns:insertarProductoResponse"/>
</message>
<message name="getProveedores">
<part name="parameters" element="tns:getProveedores"/>
</message>
<message name="getProveedoresResponse">
<part name="parameters" element="tns:getProveedoresResponse"/>
</message>
<message name="insertarProveedor">
<part name="parameters" element="tns:insertarProveedor"/>
</message>
<message name="insertarProveedorResponse">
<part name="parameters" element="tns:insertarProveedorResponse"/>
</message>
<portType name="ProductoProveedor">
<operation name="getProveedor">
<input wsam:Action="http://producto/ProductoProveedor/getProveedorRequest" message="tns:getProveedor"/>
<output wsam:Action="http://producto/ProductoProveedor/getProveedorResponse" message="tns:getProveedorResponse"/>
</operation>
<operation name="getProductos">
<input wsam:Action="http://producto/ProductoProveedor/getProductosRequest" message="tns:getProductos"/>
<output wsam:Action="http://producto/ProductoProveedor/getProductosResponse" message="tns:getProductosResponse"/>
</operation>
<operation name="getProducto">
<input wsam:Action="http://producto/ProductoProveedor/getProductoRequest" message="tns:getProducto"/>
<output wsam:Action="http://producto/ProductoProveedor/getProductoResponse" message="tns:getProductoResponse"/>
</operation>
<operation name="insertarProducto">
<input wsam:Action="http://producto/ProductoProveedor/insertarProductoRequest" message="tns:insertarProducto"/>
<output wsam:Action="http://producto/ProductoProveedor/insertarProductoResponse" message="tns:insertarProductoResponse"/>
</operation>
<operation name="getProveedores">
<input wsam:Action="http://producto/ProductoProveedor/getProveedoresRequest" message="tns:getProveedores"/>
<output wsam:Action="http://producto/ProductoProveedor/getProveedoresResponse" message="tns:getProveedoresResponse"/>
</operation>
<operation name="insertarProveedor">
<input wsam:Action="http://producto/ProductoProveedor/insertarProveedorRequest" message="tns:insertarProveedor"/>
<output wsam:Action="http://producto/ProductoProveedor/insertarProveedorResponse" message="tns:insertarProveedorResponse"/>
</operation>
</portType>
<binding name="ProductoProveedorPortBinding" type="tns:ProductoProveedor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoProveedor">
<port name="ProductoProveedorPort" binding="tns:ProductoProveedorPortBinding">
<soap:address location="http://localhost:8080/DemostracionSOAP/ProductoProveedor"/>
</port>
</service>
</definitions>